body{
    background-color: #e8e8e8;
}
.HeroSec{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
}
.HeroText{
    font-family: "Helvetica";
    font-weight:normal ;
    font-size: 3rem;
    color: black;
}
.Nav{
    display: flex;
    justify-content: end;
    margin-right:3rem;
    margin-top: 3rem;
    gap: 2rem;
}
.nav-list{
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
.Nav a{
    text-decoration: none;
    color: black;
}