body{
    background-color:black   ;
    margin: 0;
    padding: 0;
}

.Container {
    width: 100%;
    min-height: 100vh;
}

.HeroSec{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 10rem;
    margin-left: 4rem;
}
.HeroText{
    font-family: "Helvetica";
    font-weight:normal ;
    font-size: 3rem;
    color: white;
}
.Nav{
    display: flex;
    justify-content: end;
    margin-right:3rem;
    margin-top: 3rem;
    gap: 2rem;
}
.nav-list{
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
.Nav a{
    text-decoration: none;
    color: white;
}
.videoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    margin-bottom: 10rem;
}
.video{
    border-radius: 10px;
    width: 95%;
    height: 95%;
}
.projectsContainer{
    display: flex;
    gap: 70%;
    font-family: "Helvetica";
}
.projectsContainer h1{
    margin-left: 3rem;
    color: white;
}
.projectsContainer h2{
text-decoration: underline;
    font-size: 1rem;
    color: white;

}
.Projects{
    margin-top: 8rem;
display: flex;
    flex-wrap: wrap;
    gap: 19rem;
}
.Projects figure:nth-child(1),
 .Projects figure:nth-child(2) {
     flex: 0 0 30%;
 }

.CodeReflex {
    width: 100%;
    height: auto;
    margin-left: 0;
}
.Projects figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}
.Projects figcaption{
    color: white;

}
.figCap1 {
    margin-top: 1rem;
    margin-left: 0;
    font-weight: 500;
}

.figCap2 {
    margin-left: 0;
    line-height: 1.5rem;
    font-weight: 300;
    color: #555;
}
.DeutschGenieContainer{
margin-top: 5rem;
}
.DeutschGenie{
    width: 100%;
    height: auto;
    margin-left: 0;
}

.MwatiniMasr{
    margin-top: -10rem;
    width: 100%;
    height: auto;
    margin-left: 3rem;
}

.Footer {
    margin-top: 10rem;
    padding: 3rem;
    border-top: 1px solid #333;
}

.FooterContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.GetInTouch {
    color: white;
    font-family: "Helvetica";
    font-size: 1rem;
    margin: 0;
}

.FooterLinks {
    display: flex;
    gap: 2rem;
}

.FooterLink {
    color: white;
    text-decoration: none;
    font-family: "Helvetica";
    font-size: 1rem;
}

.FooterLink:hover {
    text-decoration: underline;
}

.projectsContainer h2 {
    cursor: pointer;
}
